/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Noto Sans', sans-serif;

}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
        background-color: #e9ecef !important;
        line-height: 22px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Menu */

.nome{
    text-shadow: black 2px 3px 2px;
}

.menus{
    color: rgba(255, 255, 255, 0.925) !important;
}

.menus a:hover{
    color: #a19b96c0 !important;
    opacity: 0.7;
}

#logo {
    width: 50%;
    height: 280px;
    margin: 0 25% 0 25%;
}

.botao{
    border-radius: 1%;
    background-color: #d40202;
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    border-style: none;
    color: #FFF;
    margin: 10px 10px 0 20px;
}
.botao:hover, .botao:focus {
    color: white;
    background-color: #464550;
}

/* Lanches, Bebidas e Porções */

.titulo {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.produtos {
    min-height: 30vh;
}


.produtos ul{
    margin: 0 10% !important;
    padding: 10px 0 10px 0;
}

.mosaico {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.sub-mosaico{
    border-radius: 5px;
    padding: 1.7vh 1.7vh;
    background-color: #dae0e5;
    margin: 10px 0 0 5%;
}

.preco {
    float: right;
}

.nome-produto {
    text-align: center;
    font-size: 1.5em;
}

 /* Informações */

 .main {
    margin: 0 10% !important;
    display: grid;
    grid-template-columns: repeat(2, auto); 
 }

.informacoes-textuais {
    font-size: 120%;
}

.pagamento{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.desc {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
}

/* Barra lateral */

.lBar{
    position: fixed;
    z-index: 1000;
}



/* Responsividade */

@media (max-width: 700px) {
    #esconde_menu {
      display: none;
    }

    .row{
        display: block !important;
    }
    #contraste{
        display: none;
    }
    #comprime_link{
        display: none;
    }

    .mosaico {
        grid-template-columns: repeat(1, auto) !important;
    }

    #footerMinDiv{
        position: unset;
    }
    #footerText{
        white-space: normal;
    }
}